#placeContainer {
    margin: 0 auto;
}

#placePicture {
    width: 50vw;
    height: 50vh;
    border-radius: 2em;
    object-fit: cover;
}

#leftButton {
    font-size: 3em;
}

#rightButton {
    font-size: 3em;
}

#title {
    text-align: center;
}

#placeTitle {
    text-align: center;
}